<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript lodash Templates Lab</title>
  </head>
  <body>
    <main id="meat">
      <form onsubmit="createPost();return false;" id="post-form">
        Blog Title: <input type="text" id="blogTitle"><br>
        Author: <input type="text" id="blogAuthor"><br>
        Content: <input type="text" id="blogContent"><br>
        <input type="submit">
      </form>
      <div id="comments">
        <form onsubmit="postComment();return false;">
          comment: <input type="text" id="commentText"><br>
          commenter: <input type="text" id="commenterName"><br>
          <input type="submit">
        </form>
      </div>
    </main>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="index.js"></script>
    <!-- Open this file and call `mocha.run()` in console to run tests -->
    <div id="mocha"></div>
    <script src="node_modules/mocha/mocha.js"></script>
    <script src="node_modules/expect/umd/expect.min.js"></script>
    <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
    <script>mocha.setup('bdd');</script>
    <script src="test/index-test.js"></script>
    <script src="lodash.min.js"></script>
    <script src="index.js"></script>

    <script id="page-template" type="text/x-lodash-template">
      <div id="sidebar"><%=sidebarStuff%></div>
      <div id="post"><%=postStuff %></div>
    </script>

    <script id="post-template" type="text/x-lodash-template">
      <header><h3><%=blogTitle%></h3></header>
      <article><%=blogContent%></article>
      <footer><small><%=blogAuthor%></small></footer>

    </script>

    <script id="comments-template" type="text/x-lodash-template">
      <div id="comments">
        <form onsubmit="postComment();return false;">
          comment: <input type="text" id="commentText"><br>
          commenter: <input type="text" id="commenterName"><br>
          <input type="submit">
        </form>
      </div>
    </script>

    <script id="comment-template" type="text/x-lodash-template">
      <p><bold> <%= comment %></bold> </p>
      <footer><small><%= commenter %></small> </footer>
    </script>

  </body>
</html>
